{% extends 'base.html.twig' %}

{% block title %}Informations index{% endblock %}

{% block body %}
    <h1>Informations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Contenu</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for information in informations %}
            <tr>
                <td>{{ information.id }}</td>
                <td>{{ information.title }}</td>
                <td>{{ information.contenu }}</td>
                <td>{{ information.dateDebut ? information.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ information.dateFin ? information.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_informations_show', {'id': information.id}) }}">show</a>
                    <a href="{{ path('app_informations_edit', {'id': information.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_informations_new') }}">Create new</a>
{% endblock %}
